<!doctype html>
<!-- vim: set ts=2:sw=2:sts=2: -->
<head>
  <title>Instant Reminders for Netflix</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="header">
    <h1 class="centered logo">Instant Reminders for Netflix</h1>
  </div>  
  <div id="content">    
    <ul>
      <li><h3>Find a movie you want to stream</h3></li>
      <li><h3>Click the Instant Reminder button</h3></li>
      <li><h3>Get an email when the movie is available to stream</h3></li>
    </ul>
    <% if session[:email] %>
      <div id="user-info" class="centered">
        Signed in as <%= session[:email] %>.<br/>
        <a href="http://movies.netflix.com/MemberHome?lnkctr=mhbwse">Browse Netflix</a>
        or <a href="/logout">Logout</a>
      </div>
    <% else %>
      <div id="login">
        <h2 class="centered">Instructions</h2>
        <ol>
          <li>Firefox users must install
            <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">
            Greasemonkey</a> while Chome users can continue to the next step</li>
          <li><a href="/buttonizer.user.js">Install the user script</a></li>
          <li>
        <form action="/login" method="post">
          <label for="email">Enter your Email </label>
          <input id="email" type="text" name="email"/><br/>
          <center><input type="submit" value="Go!"/></center>
        </form></li>
      </ol>
    </div>
    <% end %>
  </div>
  <div id="footer">
    <p class="centered">
      Yet another weekend hack by 
      <a href="http://twitter.com/#!/jevinskie">Jevin</a> &amp;
      <a href="https://github.com/swanson">Matt </a>
    </p>
    <div class="centered powered-by">
        <span>Powered By</span><br/>
        <span class="third-party">
            <a href="http://www.heroku.com/">heroku</a> | 
            <a href="http://www.sinatrarb.com/">sinatra</a> | 
            <a href="https://mongohq.com/databases">mongoHQ</a> | 
            <a href="http://sendgrid.com/">sendgrid</a>
        </span><br/><br/>
        <span class="netflix-branding">
          <a href="http://www.netflix.com">Delivered by Netflix</a>
        </span>
    </div>
  </div>
</body>
</html>
