<!doctype html>
<head>
  <title>Instant Reminders for Netflix</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="header">
    <h1 class="centered logo">Instant Reminders for Netflix</h1>
  </div>  
  <div id="content">    
    <ul>
      <li><h3>Find a movie you want to stream</h3></li>
      <li><h3>Click the Instant Reminder button</h3></li>
      <li><h3>Get an email when the movie is available to stream</h3></li>
    </ul>
    <p class="centered">--- Installation Instructions ---</p>
    <br/><br/><br/><br/><br/>
  </div>
  <div id="footer">
    <p class="centered">
      Yet another weekend hack by 
      <a href="http://twitter.com/#!/jevinskie">Jevin</a> &amp;
      <a href="https://github.com/swanson">Matt </a>
    </p>
    <div class="centered powered-by">
        <span>Powered By</span><br/>
        <span class="third-party">
            <a href="http://www.heroku.com/">heroku</a> | 
            <a href="http://www.sinatrarb.com/">sinatra</a> | 
            <a href="https://mongohq.com/databases">mongoHQ</a> | 
            <a href="http://sendgrid.com/">sendgrid</a>
        </span><br/><br/>
        <span class="netflix-branding">
          <a href="http://www.netflix.com">Delivered by Netflix</a>
        </span>
    </div>
  </div>
</body>
</html>
