body {
  background-color:#B9090B;
  font-family: "Futura Medium Condensed", futura, helvetica, clean, sans-serif; 
}

#header {
  color: white;
}

#content {
  width: 480px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: white;
  color: #333333;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

#content ul {
  list-style-image: url('/images/star.png')
}

.centered {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  text-shadow: 2px 2px 0px #333;
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

#footer {
  padding-top: 10px;
}

#footer p {
  color: white;
  font-size: 12px;
  font-family: arial, helvetica, clean, sans-serif;
}

#footer p a {
  color: white;
  text-shadow: 1px 1px 0px #333;
}

.netflix-branding a {
  color: white;
  text-shadow: 1px 1px 0px #333;
}

.powered-by {
  color: #C7403C;
  padding-top: 5px;
}

.third-party a {
  color: #C7403C;
  text-decoration: none;
}
